{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width , initial-scale=1.0 ">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static './style/font.css' %}">
    <link rel="stylesheet" href="{% static './style/reset.css' %}">
    <link rel="stylesheet" href="{% static './style/form.css' %}">
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <link rel="stylesheet" href="{% static './style/password-change.css' %}">

</head>

<body>
    <div class="lol">
        <div class="banana">
            <form class="form" action="#" method="POST">
                {% csrf_token %}
                <h2 class="form-tytle">فرم ثبت نام</h2>
                <label class="label" for="name">نام کاربری</label>
                <input class="form-control" {% render_field form.username.value class="form-control" hx-post="/check_username/" hx-trigger="keyup" hx-swap="outherhtml" hx-target="#username-error" %}>
                <div id="username-error"></div>
                <label class="label" for="email">ایمیل</label>
                <input class="form-control" {% render_field form.email.value class="form-control" hx-post="/check_email/" hx-trigger="keyup" hx-swap="outherhtml" hx-target="#email-error" %}>
                <div id="email-error"></div>
                <label class="label" for="password">رمز عبور</label>
                <input class="form-control" {% render_field form.password.value class="form-control" hx-post="/check_password/" hx-trigger="keyup" hx-swap="outherhtml" hx-target="#password-error" %}>
                <div id="password-error"></div>
                <label for="confirm-password">تکرار رمز عبور</label>
                <input type="password2" name="password2" id="password2" class="form-control" placeholder="لطفا پسوردتان را وارد کنید" required minlength="8" {{form.password2.value}}>
                <label for="rules" class="checkbox">
                    <input type="checkbox" name="rules" id="rules" required>قوانین را قبول دارم
                    <span class="checkmark"></span>
                </label>
                <button type="submit" class="btn">ثبت نام</button>
                
                <div class="forget">
                    <div>
                        <a href="{% url 'login'%}">قبلا ثبت نام کرده ام</a>
                    </div>
                </div>
            </form>

        </div>
    </div>


</body>


</html>
