{% load static %}
<!DOCTYPE>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './style/reset.css' %}">
    <link rel="stylesheet" href="{% static './style/font.css' %}">
    <link rel="stylesheet" href="{% static './style/pagesStyle.css' %}">

</head>

<body>
    
    <header class="header">
        <div class="hheader">
            <div class="icon">
                <img src="{% static './FilmPicture/logo.png'%}" alt="">
            </div>
            <div class="log">
                <a href="{% url 'login' %}">وارد شوید</a>
            </div>
        </div>
    </header>

    <main>

        <div class="hello">

            <div class="main">
                <div class="gorilla">
                    <img src="{% static './FilmPicture/What-Is-Python-2.jpg' %}" alt="">
                </div>
                <div class="bear">
                    <h3>پایتون به زبان ساده چیست ؟</h3>
                    <p>برای تعامل با کامپیوترها، یکی از ساده‌ترین زبان‌های برنامه نویسی که کاربرد گسترده‌ای در بسیاری از حوزه‌ها دارد، زبان برنامه نویسی پایتون است. پایتون زبانی شی‌گرا، سطح بالا و مفسری محسوب می‌شود که به طور گسترده در برنامه‌های تحت وب، توسعه نرم افزار، «علم داده» (Data Science | DS) و «یادگیری ماشین» (ماشین لرنینگ | ML) مورد استفاده قرار می‌گیرد.</p>
                </div>
            </div>

            <div class="main mainn">
                <div class="bear" style="margin-left: 3rem;">
                    <h3>کاربرد های زبان پایتون چیست ؟</h3>
                    <p>زبان پایتون در زمینه‌های گوناگونی کاربرد دارد و برای توسعه انواع برنامه‌ها می‌توان از آن کمک گرفت. اکثر زبان‌های برنامه نویسی فقط مختص به حوزه‌ای خاص هستند و این گستره و تنوع در کاربرد و عملکرد، از ویژگی‌های بارز زبان برنامه نویسی پایتون است. از نظر حرفه‌ای، پایتون برای توسعه وب سمت سرور، توسعه نرم افزار، ریاضیات و محاسبات علمی، اسکریپت نویسی سیستم، تجزیه و تحلیل داده‌ها و هوش مصنوعی گزینه بسیار خوبی است.

                        توسعه‌دهندگان از پایتون برای ساخت ابزارهای بهره‌وری، بازی‌ها و برنامه‌های دسکتاپ نیز استفاده می‌کنند. برای توسعه سریع برنامه‌ها و به عنوان زبان برنامه نویسی برای پیوند دادن اجزای موجود و به دلیل ساختارهای داده داخلی، سطح بالا و «نوع‌دهی پویا» (Dynamically Typed) محبوب است. هزینه‌های نگهداری برنامه با پایتون به دلیل سینتکسی که به راحتی آموخته می‌شود و تاکید بر خوانایی آن کاهش می‌یابد.</p>
                </div>
                <div class="gorilla">
                    <img src="{% static './FilmPicture/hhhpython.jpg.webp' %}" alt="">
                </div>
            </div>
            
            <div class="main">
                <div class="gorilla">
                    <img src="{% static './FilmPicture/script-python.jpg.webp' %}" alt="">
                </div>
                <div class="bear">
                    <h3>اسکریپت پایتون چیست ؟</h3>
                    <p>اسکریپت پایتونی، فایلی شامل یک سری دستورات است که ساختار آن شبیه به یک برنامه اجرا می‌شود. این فایل به‌گونه‌ای طراحی شده که شامل توابع مختلف است و می‌توان ماژول‌های متفاوت را به آن اضافه کرد. برای اجرای این فایل اسکریپت پایتونی، می‌توان از خط فرمان مربوط به آن برای انجام کاری خاص استفاده کرد.</p>
                </div>
            </div>
            
            <div class="main mainn">
                <div class="bear" style="margin-left: 3rem;">
                    <h3>تاریخچه مختصری از پایتون</h3>
                    <p>برنامه‌نویس کامپیوتری به نام Guido van Rossum پایتون را خلق کرده است. او توسعه این زبان را در سال ۱۹۸۹ در Centrum Wiskunde & Informatica (CWI) آغاز کرد.
                        در ابتدا، پایتون برای آقای Guido van Rossum تنها به عنوان پروژه سرگرمی برای ادامه کار در تعطیلات کریسمس محسوب می‌شد. نام این زبان از برنامه تلویزیونی «Python’s Flying Circus» الهام گرفته شده است، زیرا Guido Van Rossum یکی از طرفداران این برنامه بود.
                    </p>
                </div>
                <div class="gorilla">
                    <img src="{% static './FilmPicture/python-flying-circus.jpg.webp' %}" alt="">
                </div>
            </div>
            
            <div class="main">
                <div class="gorilla">
                    <img src="{% static './FilmPicture/python-libraries.jpg.webp' %}" alt="">
                </div> 
                <div class="bear">
                    <h3>کتابخانه پایتون چیست ؟</h3>
                    <p>یک کتابخانه مجموعه‌ای از کدهای متداول است که برنامه‌نویس‌ها می‌توانند در برنامه‌های پایتون خود، آن‌ها را بگنجانند تا از توسعه کد از خطوط ابتدایی و نقطه صفر جلوگیری کنند.
                        به‌طور پیش‌فرض، پایتون با کتابخانه استاندارد همراه است که شامل بسیاری از کارکردهای قابل استفاده مجدد می‌شود. علاوه بر این، بیش از ۱۳۷ هزار کتابخانه پایتون برای برنامه‌های مختلف از جمله توسعه وب، علم داده، یادگیری عمیق و یادگیری ماشین در پایتون، در دسترس است.
                    </p>
                </div>
            </div>

        </div>

    </main>

    <footer class="footer">
        <div class="ffooter">
            <div class="iconn">
                <img src="{% static './FilmPicture/Bale.png' %}" alt="">
                <h3>تیم ما</h3>
            </div>
            <div class="team">
                <h3>تیم ما</h3>
                <a href="{% url 'aboutus' %}">درباره ما</a>
            </div>
        </div>
        <div class="media">
            <div class="bale">
                <a href="#"><img src="{% static './FilmPicture/Bale.png' %}" alt=""></a>
            </div>
            <div class="telegram">
                <a href="#"><img src="{% static './FilmPicture/Telegram.jpg' %}" alt=""></a>
            </div>
        </div>
        <div class="c">
            <p>برای استفاده از مطالب ما، داشتن «هدف غیرتجاری» و ذکر «منبع» کافیست. تمام حقوق اين وب‌سايت نیز برای تیم ما است.</p>
        </div>
    </footer>

</body>

</html>